--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.12.1+cpu
torch_npu==2.12.0rc1
numpy
PyYAML
torchtitan @ git+https://gitcode.com/GitHub_Trending/to/torchtitan.git@ac13e536c84e7f6647b14fa9375c3c8a8a2b8578
pybind11
ninja
--extra-index-url https://triton-ascend.osinfra.cn/pypi/simple
triton-ascend==3.2.1
scipy
safetensors==0.7.0
