--extra-index-url https://download.pytorch.org/whl/nightly/cpu
torch==2.14.0.dev20260719
--find-links https://cann-ai.obs.cn-north-4.myhuaweicloud.com/torchtitan-npu/simple/torch-npu/index.html
torch_npu==2.14.0.dev20260808
torchtitan @ git+https://gitcode.com/GitHub_Trending/to/torchtitan.git@2807d3f550fe27db18bd9395ba63176364eaed6d
pybind11==3.0.4
numpy
PyYAML
ninja
--extra-index-url https://triton-ascend.osinfra.cn/pypi/simple
triton-ascend==3.2.1
scipy==1.13.1
safetensors==0.8.0
